@import url(https://fonts.googleapis.com/css?family=Roboto:400+700);
body {
  background: #ffffff;
  font-family: '隶书';
}
#chart {
  width: 850px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #ffffff;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #000000;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  width: 790px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 0px #444;
}
#chart #bars li {
  display: table-cell;
  width: 200px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 70px;
  margin-left:15px;
  background: #feb900;
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
  background: #dbdbdb;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: black;
  content: attr(data-numbers) '人';
  position: relative;
  bottom: 30px;
}
#chart #bars li span {
  color: #000000;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
